.ag-theme-material .ag-row, .ag-theme-material .ag-row:not(.ag-row-first) {
  padding-top: 7px;
}
.ag-cell-focus,.ag-cell-no-focus{
  border:none !important;
}
.ag-root-wrapper-body.ag-layout-normal {
  border-radius: 4px;
}